#cms_editor {
	position : fixed;
	top: 25px;
	right : 15px;
	background-color:grey;
}


html, body {
	margin: 0;
	padding: 0;
	}

body {
	background: #FFF5D7;
	color: #111;
	font: 62.5%/200% "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	text-align: center;
	}
table,
td,
input,
textarea,
select,
li {
	color: #111;
	font: 1em/180% "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	padding : 0px;
	margin : 15px;
	}

hr {
	visibility: hidden;
	clear: both;
	}
.hidden {
	display: none;
	}


/* =STRUCTURE
----------------------------------------------- */

#container {
	background: url('/main/_view/images/containerBg.png') repeat-x 0 115px;
	font-size: 1.2em;
	text-align: left;
	width: 100%;
	}
#right
{
	position: absolute;
	top : 90px;
	left: 700px;
}

#right_top
{	
	position: absolute;
	top : 40px;
	left: 700px;
}

	#right_top ul
	{
		border-left : 1px #D4D4D4 solid;
		padding-left : 5px;
		background: url('/main/_view/images/top_right.png');	
		font-size:10px;
	}
	#right_top li
	{
		list-style-type: none;
		padding : 0;
		margin : 0;
	}

#header {
	background: #1a2129 url(/main/_view/images/headerBg.png) repeat-x 0 0;
	height: 115px;
	margin: 0;
	width: 100%;
	}

#mid {
	background: #fff url(/main/_view/images/pageBg.png) repeat-y 0 0;
	display: block;
	margin: 0 auto;
	padding: 0 0 15px 0;
	position: relative;
	width: 968px;
	}
#main {
	float: left;
	display: inline;
	width: 910px;
	margin-left: 29px;
	}
#main.signup {
	width: 910px;
	}
#side{
	display: inline;
	float: right;
	margin-right: 19px;
	width: 270px;
	}
#footer {
	background: url(/main/_view/images/end.png) repeat;
	display: block;
	color: #fff;
	margin: 0 auto 1em auto;
	padding: 1.2em 0;
	position: relative;
	width: 968px;
	}


/* =HEADER
----------------------------------------------- */

#logo {
	background: url(/main/_view/images/logo.png) no-repeat 0 0;
	height: 69px;
	left: 0;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	text-indent: -9999px;
	top: 15px;
	width: 169px;
	}
#logo a {
	display: block;
	height: 64px;
	}
#tagline{
	background: url(/main/_view/images/tagline.png) no-repeat 0 0;
	height: 39px;
	left: 900px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	text-indent: -9999px;
	top: 0px;
	width: 332px;
	}
#info{
	display: none;
	}
#languages {
	background: url(/main/_view/images/languagesBg.gif) no-repeat 0 0;
	color: #fff;
	float: right;
	height: 115px;
	margin-right: 4px;
	position: relative;
	width: 285px;
	}
#languages p {
	background: url(/main/_view/images/languagesP.gif) no-repeat 0 0;
	bottom: 27px;
	height: 48px;
	left: 14px;
	overflow: hidden;
	padding: 10px 15px 0 15px;
	position: absolute;
	top: 111px;
	width: 226px;
	}
* html #languages p {
	background: url(/main/_view/images/languagesPalt.gif) no-repeat 0 0;
	height: 41px;
	padding-top: 11px;
	top: 127px;
	}
#languages ul,
#languages ul li {
	color: #fff;
	list-style-type: none;
	margin: 0;
	padding: 0;
	}
#languages ul.first {
	margin-left: 30px;
	}
* html #languages ul.first {
	margin-left: 14px;
	}
#languages ul,
#languages ul li {
	list-style: none;
	margin: 0;
	padding: 0;
	}
#languages ul {
	float: left;
	margin-left: 14px;
	margin-top: 191px;
	}
#languages ul:hover {
	cursor: pointer;
	}
#languages ul .item {
	display: none;
	}
#languages ul:hover .item {
	display: block;
	background: url(/main/_view/images/langPointer.gif) no-repeat 1px bottom;
	font-weight: bold;
	height: 39px;
	left: 25px;
	text-indent: 5px;
	position: absolute;
	top: 153px;
	width: 235px;
	}
#languages ul:hover .item.EN {
	background: url(/main/_view/images/langPointer.gif) no-repeat 1px bottom;
	}
#languages ul:hover .item.US {
	background: url(/main/_view/images/langPointer.gif) no-repeat 31px bottom;
	}
#languages ul:hover .item.FR {
	background: url(/main/_view/images/langPointer.gif) no-repeat 61px bottom;
	}
#languages ul:hover .item.DE {
	background: url(/main/_view/images/langPointer.gif) no-repeat 91px bottom;
	}
#languages ul:hover .item.ES {
	background: url(/main/_view/images/langPointer.gif) no-repeat 121px bottom;
	}
#languages ul:hover .item.IT {
	background: url(/main/_view/images/langPointer.gif) no-repeat 151px bottom;
	}
#languages ul:hover .item.RU {
	background: url(/main/_view/images/langPointer.gif) no-repeat 181px bottom;
	}
#languages ul:hover .item.VI {
	background: url(/main/_view/images/langPointer.gif) no-repeat 211px bottom;
	}


/* =FOOTER
----------------------------------------------- */

#footer {
	font-size: .95em;
	}
#footer p {
	margin: 0 0 .2em 29px;
	}
#footer ul,
#footer li {
	list-style: none;
	margin: 0;
	padding: 0;
	}
#footer ul {
	margin-left: 29px;
	}
#footer li {
	border-left: 1px solid #a6bdd2;
	display: inline;
	margin: 0 0 0 .2em;
	padding: 0 0 0 .5em;
	}
#footer li.first {
	border-left: 0;
	margin-left: 0;
	padding-left: 0;
	}
#footer a {
	color: #d9e3ec;
	font-weight: bold;
	}
#footer a:hover {
	color: #fff;
	text-decoration: none;
	}


/* =SIDE
----------------------------------------------- */

.block {
	background: #e8f0f7;
	border-bottom: 1px solid #bad1e6;
	border-top: 1px solid #bad1e6;
	font-size: .915em;
	margin-top: 15px;
	padding: 0 15px;
	}
#apiLogos,
#apiLogos li {
	list-style: none;
	margin: 0;
	padding: 0;
	}
#apiLogos {
	background: url(/main/_view/images/apiLogos.gif) no-repeat center top;
	height: 319px;
	margin-top: 1.5em;
	}
#apiLogos li {
	display: none;
	}


/* =NAVIGATION
----------------------------------------------- */

/* breadcrumbs */

#breadcrumbs {
	background: #e7e7e7 url(/main/_view/images/breadcrumbsBg.gif) repeat-y 0 0;
	color: #777;
	line-height: 33px;
	margin: 0;
	text-indent: 29px;
	}
#breadcrumbs a {
	color: #555;
	font-weight: bold;
	}
#breadcrumbs a:hover {
	color: #111;
	}

/* departments */

#navDept,
#navDept li {
	margin: 0;
	padding: 0;
	list-style: none;
	}
#navDept {
	height: 33px;
	left: 4px;
	line-height: 33px;
	overflow: hidden;
	position: absolute;
	top: -33px;
	width: 900px;
	}
#navDept li {
	float: left;
	}
#navDept li a {
	background: url(/main/_view/images/navBg.png) no-repeat left bottom;
	color: #FFFFFF;
	display: block;
	line-height: 33px;
	padding: 0 25px;
	}
#navDept li a:hover {
	color: #C8F6EC;
	}
#navDept li a.selected {
	background: #fff url(/main/_view/images/navSelectedBg.gif) repeat-x 0 0;
	border: 1px solid #fff;
	border-bottom: 0;
	color: #111;
	padding: 0 24px;
	}
#navDept li a:hover.selected {
	color: #111;
	}
#navDept li a span {}


/* =SEARCH
----------------------------------------------- */

/* hosted solution comparison chart */

#content table.comparisonChart {
	background: #fff8d8;
	border: none;
	}
#content table.comparisonChart td {
	background: #fff8d8;
	border-top: 1px solid #fbebaf;
	font-size: .915em;
	vertical-align: top;
	}
#content table.comparisonChart th {
	background: #fbebaf url(/main/_view/images/planHeaderBg.png) repeat-x top left;
	border: none;
	border-top: 1px solid #fbebaf;
	vertical-align: top;
	}
#content table.comparisonChart tbody th {
	background: #fff8d8;
	border-top: 1px solid #fbebaf;
	padding-left: 1em;
	vertical-align: top;
	width: 120px;
	}

/* tour link list */

#tour {
	background: #fff8d8;
	border: 1px solid #fbebaf;
	margin-bottom: 1.5em;
	padding: .5em 0;
	}
#tour ul,
#tour ul li {
	list-style: none;
	margin: 0;
	padding: 0;
	}
#tour ul {
	text-align: center;
	}
#tour ul li {
	display: inline;
	font-weight: bold;
	color: #111;
	margin: 0 .75em;
	}


/* =TYPOGRAPHY
----------------------------------------------- */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 1em 0;
	}
h1 {
	font-size: 140%;
	}
h2 {
	font-size: 130%;
	}
h3 {
	font-size: 1.335em;
	line-height: 150%;
	margin-bottom: 0;
	}
h4,
h5 {
	font-size: 100%;
	margin-bottom: 0;
	}
#main h2 {
	clear: both;
	font-size: 160%;
	font-weight: normal;
	padding: 0;
	}
#main h2#pageTitle {
	font-size: 24px;
	font-weight: normal;
	margin-bottom: .7em;
	margin-top: 1.3em;
	padding: 0;
	}
.note {
	font-size: 110%;
	}
.highlight {
	font-size: 140%;
	}


/* =LISTS
----------------------------------------------- */

/* basic lists */

ul,
ol,
ul li,
ol li {
	margin-left: 0;
	padding-left: 0;
	}
ul li,
ol li {
	margin-left: 2em;
	}

/* styled lists */

ul.checklist,
ul.checklist li {
	list-style: none;
	margin: 0;
	padding: 0;
	}
ul.checklist {
	margin: .8em 0 1em 0;
	}
ul.checklist li {
	background: url(/main/_view/images/tick.gif) no-repeat 1px .25em;
	line-height: 160%;
	margin: .5em 0;
	padding-left: 25px;
	}
ul.linkList,
ul.linkList li {
	list-style: none;
	margin: 0;
	padding: 0;
	}
ul.linkList {
	margin: 1em 0;
	}
ul.linkList li {
	background: url(/main/_view/images/iconLinkList.gif) no-repeat 7px .5em;
	line-height: 160%;
	margin: .5em 0;
	padding-left: 25px;
	}
ul.knowledgeBase,
ul.knowledgeBase li {
	list-style: none;
	margin: 0;
	padding: 0;
	}
ul.knowledgeBase {
	margin: 1em 0;
	}
ul.knowledgeBase li {
	background: url(/main/_view/images/iconKnowledgeBase.gif) no-repeat 3px .1em;
	line-height: 160%;
	margin: .5em 0;
	padding-left: 25px;
	}
ul.knowledgeBase li h4 {
	margin-bottom: 0;
	}
ul.knowledgeBase li p {
	margin-top: 0;
	}


/* =FORMS
----------------------------------------------- */

fieldset {
	border: none;
	border-bottom: 1px solid #bad1e6;
	border-top: 1px solid #bad1e6;
	background: #e8f0f7;
	margin: 2em 0 1em 0;
	padding: 6px 18px;
	}
legend {
	display: none;
	}
fieldset h3,
fieldset h3 {
	margin: 1em 0 0 0;
	}
.formField {
	background: #fff;
	border: 1px solid #bad1e6;
	padding: 2px;
	line-height: 100%;
	width: 200px;
	}
.formSelect {
	background: #fff;
	border: 1px solid #bad1e6;
	padding: 1px 2px;
	width: 200px;
	}
.formSelectDomain {
	background: #fff;
	border: 1px solid #bad1e6;
	padding: 1px 2px;
	width: 130px;
	}
.formSelectDomainSuffix {
	background: #fff;
	border: 1px solid #bad1e6;
	padding: 1px 2px;
	width 100px;
	}
.formFieldShort {
	background: #fff;
	border: 1px solid #bad1e6;
	padding: 2px;
	width: 80px;
	}
.formField:focus,
.formFieldShort:focus,
.textarea:focus,
.formSelect:focus,
.formSelectDomain:focus,
.formSelectDomainSuffix:focus {
	border: 1px solid #382512;
	}
.formRadio,
.checkbox {
	vertical-align: middle;
	}
.formButtonWrapper {
	background: url(/main/_view/images/btnR.gif) no-repeat top right;
	float: left;
	height: 28px;
	padding: 0 13px 0 0;
	margin: 0 1em 1em 0;
	}
.formButton {
	background: url(/main/_view/images/btnL.gif) no-repeat top left;
	border: 0;
	color: #777;
	display: block;
	font-weight: bold;
	float: left;
	height: 28px;
	line-height: 28px;
	margin: 0;
	overflow: visible;
	padding: 0 0 2px 13px;
	text-align: left;
	} 
.formButton.add {
	background: url(/main/_view/images/btnLAdd.gif) no-repeat top left;
	padding-left: 37px;
	}
.formButton.cancel {
	background: url(/main/_view/images/btnLCancel.gif) no-repeat top left;
	padding-left: 37px;
	} 
.formButton.confirm {
	background: url(/main/_view/images/btnLConfirm.gif) no-repeat top left;
	padding-left: 37px;
	}
.formButton:hover {
	color: #111;
	cursor: pointer;
	}
fieldset p span,
form span {
	color: #d00;
	font-weight: bold;
	}

/* form hints */

.hint {
    background: #dcffca url(/main/_view/images/hintPointer.gif) left -9999px no-repeat;
    border: 1px solid #a1cd8e;
   	display: none;
   	font-size: .95em;
  	font-weight: none;
	left: 420px;
	color: #111;
	font: 1em/200% "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
    line-height: 150%;
    margin-top: -3px;
    padding: 4px 10px;
    position: absolute;
    width: 250px;
	}
.hint .hintPointer {
    background: url(/main/_view/images/hintPointer.gif) left top no-repeat;
    height: 19px;
    left: -10px;
    position: absolute;
    top: 3px;
    width: 10px;
	}


/* =TABLES
----------------------------------------------- */


table {
	border-bottom: 1px solid #bad1e6;
	border-collapse: collapse;
	border-top: 1px solid #bad1e6;
	line-height: 180%;
	margin: .5em 0;
	width: 100%;
	}
th {
	background: #bad1e6;
	border-bottom: 1px solid #bad1e6;
	padding: 5px;
	}
td {
	background: #e8f0f7;
	padding: 5px;
	vertical-align: top;
	}
td.first {
	text-align: right;
	width: 140px;
	}
#content table.plain {
	background: transparent;
	border: 0;
	border-style: none;
	}
#content table td.plain {
	background: transparent;
	border: 0;
	border-right: 1px;
	border-style:dashed;
	}
#content table.plain td.left {
	text-align: right;
	width: 140px;
	}


/* =LINKS
----------------------------------------------- */

a:link,
a:visited,
a:active {
	color: #4f8bbf;
	text-decoration: none;
	}
a:hover {
	color: #3c6991;
	text-decoration: none;
	}
#main a {
	font-weight: bold;
	}
#main img {
	margin-left: auto;
	margin-right: auto;
}
a.back {
	background: url(/main/_view/images/back.gif) no-repeat 0 48%;
	padding-left: 10px;
	}
a.top {
	background: url(/main/_view/images/top.gif) no-repeat 0 48%;
	float: right;
	margin-top: -1.5em;
	padding-left: 10px;
	}
p.buttonWrapper {
	overflow: hidden;
	clear: left;
	width: 100%;
	}
a.button {
	background: url(/main/_view/images/btnL.gif) no-repeat top left;
	display: block;
	float: left;
	font-weight: bold;
	height: 29px;
	line-height: 23px;
	margin-right: 1em;
	padding-left: 6px;
	text-decoration: none;
	}
a:link.button,
a:visited.button,
a:hover.button,
a:active.button {
	color: #666;
	}
a:hover.button {
	background: transparent;
	color: #111;
	}
a.button span {
	background: transparent url(/main/_view/images/btnR.gif) no-repeat top right;
	display: block;
	padding: 2px 15px 6px 7px;
	}
a.button.btnSignupNow {
	background: transparent url(/main/_view/images/btnLSignupNow.gif) no-repeat top left;
	padding-left: 30px;
	}


/* =IMAGES
----------------------------------------------- */

img {
	border: none;
	}
.img1 { 
		vertical-align: middle; 
		margin: 0px;
	}
/* screenshots */

.screenshot {
	float: left;
	margin: 1em 1.5em 1em 0;
	}
.screenshot.alt {
	float: right;
	margin: 1em 0 1em 1.5em;
	}
.screenshot.signup_lang {
	float: right;
	margin: 0 0 0 1.5em;
	}
.screenshot img {
	border: 1px solid #e7e7e7;
	clear: both;
	padding: 6px;
	}


/* =MISC
----------------------------------------------- */

/* positive / negative text warnings */

span.positive {
	color: #0c0;
	}
span.negative {
	color: #c00;
	}

/* company contact details */

address {
	font-style: normal;
	}
#contactDetails {
	clear: left;
	float: right;
	margin: -1.1em 0 1em 15px;
	padding: 0 0 0 15px;
	width: 280px;
	}
#frmContact {
	clear: both;
	}

/* columns */

.column {
	float: left;
	margin: 0 0 1em 0;
	width: 305px;
	}
.column.home {
	background: #fff8d8;
	border-bottom: 1px solid #ffeb99;
	border-top: 1px solid #ffeb99;
	float: left;
	margin: .5em 0 1.5em 0;
	padding: 0 15px;
	width: 275px;
	}
.column.first {
	margin-right: 15px;
	}


/* misc */

feature {
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
	background: #f3f3f3;
	margin-bottom: 1em;
	padding: 0 18px;
	}
.feature .notes {
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
	background: #fbfbfb;
	margin-bottom: 1em;
	padding: 0 18px;
	}

/* blank lists (no bullets) */

ul.blank,
ul.blank li {
	list-style:none;
	}
ul.blank {
	margin-left: 0;
	padding-left: 0;
	}
ul.blank li {
	margin: .5em 0 .5em 0;
	padding-left: 0;
	}
ul.blank ul {
	margin-left: 2em;
	}	


/* 'select your plan' table */

table#selectPlan {
	text-align: center;
	}
table#selectPlan {
	border: none;
	margin-bottom: 0;
	}
table#selectPlan th,
table#selectPlan tfoot td {
	background: #fbebaf url(/main/_view/images/planHeaderBg.gif) repeat-x top left;
	border: none;
	border-top: 1px solid #fbebaf;
	font-weight: bold;
	padding-bottom: .7em;
	padding-top: .8em;
	}
table#selectPlan th.selectPlan {
	padding-left: 15px;
	text-align: left;
	}
table#selectPlan th.option {
	width: 100px;
	}
table#selectPlan td {
	background: #fff8d8;
	border-bottom: 1px solid #fbebaf;
	vertical-align: middle;
	}
table#selectPlan td.left {
	padding-left: 15px;
	text-align: left;
	}
table#selectPlan span.yes {
	background: url(/main/_view/images/iconYes.gif) no-repeat 0 0;
	display: block;
	height: 16px;
	margin: 0 auto;
	overflow: hidden;
	text-indent: -9999px;
	width: 16px;
	}
table#selectPlan span.no {
	background: url(/main/_view/images/iconNo.gif) no-repeat 0 0;
	display: block;
	height: 16px;
	margin: 0 auto;
	overflow: hidden;
	text-indent: -9999px;
	width: 16px;
	}
table#selectPlan span.subNote {
	font-size: .915em;
	font-weight: normal;
	}
span.errorMsg {
	color: #c00;
	font-weight: bold;
	}


/* =FLOAT FIX
----------------------------------------------- */

.inner:after,
.column:after,
#pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
	}
.inner,
.column,
#pagination {
	display: block;
	}
.inner,
.column,
#team {
	display: block;
	}

/*  \*/

.inner,
.column,
#pagination {
	min-height: 1%;
	}
* html .inner,
* html .column,
* html #pagination {
	height: 1%;
	}
#credits
{
	float : left;	
}
#disclaimer
{
	float : right;	
}
#disclaimer a
{
	margin-right: 15px;
	color:#FFFFFF;
}